@using Microsoft.AspNetCore.Http.Extensions
@model BoardGame.Service.Models.Web.HomeViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h2>@ViewData["Title"]</h2>

<h3>Welcome to the Chess Bot Arena.</h3>
<p>Here you can register and edit your accounts used in the application.</p>
<p>You can get the application from here: <a href="@Context.Request.GetDisplayUrl()downloads/BoardGame.HumanClient.zip" target="_blank">Human Client</a></p>
@*<a href="@(Model.BaseUrl)/downloads/BoardGame.BotClient.zip" target="_blank">Bot Client</a>*@
<p>You can get the API documentation from here: <a href="@Context.Request.GetDisplayUrl()swagger" target="_blank">Swagger documentation</a></p>

<h3>Notes about the human client</h3>
<p>The client may be slow at first try because the service may be turned off and needs to restart.</p>
<p>Switching between the tabs will force a refresh. You can see if any operation happens in the background in the bottom-left side progressbar.</p>
<p>You can manually force a refresh in the bottom-right corner with the refresh button.</p>
