@using Microsoft.AspNetCore.Http.Extensions
@model BoardGame.Service.Models.Web.HomeViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h2>@ViewData["Title"]</h2>

<h3>Welcome to the Chess Bot Arena.</h3>
<h4>Important!</h4>
<p>Here you can register and edit your accounts used in the application.</p>
<p>Please note that this isn't intended for public use, only an experiment / test. You shouldn't be here. Get involved at your own risk! Note that the connection to the server isn't secure. Therefore don't use passwords you may use at other places. Consider every traffic going through this site monitored, read, and attempted to be used for illegal activities! You were warned!</p>

<h4>Site map</h4>
<p>You can get the applications from the <a asp-area="" asp-controller="Downloads" asp-action="Index">Downloads</a> section.</p>
<p>You can get the API documentation from the <a href='@Url.Content("~/swagger")' target="_blank">Swagger Documentation</a> section</p>
@*<p>Thesis (in Hungarian) available in the <a asp-area="" asp-controller="Thesis" asp-action="Index">Thesis</a> section.</p>*@

<h4>Notes about the human client</h4>
<p>The client may be slow at first try because the service may be turned off and needs to restart.</p>
<p>Switching between the tabs will force a refresh. You can see if any operation happens in the background in the bottom-left side progressbar.</p>
<p>You can manually force a refresh in the bottom-right corner with the refresh button.</p>
